<section class="footer-me ">
    <div class="container">
        <div class="row text-white py-5 g-4">
            <div class="col-md-4 text-center">
                <div>
                    <h3>LOCATION</h3>
                    <p class="lead">2215 John Daniel Drive
                        Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h2>AROUND THE WEB</h2>

                <div class="div-icon">
                    <i class="fa-brands fa-facebook fa-2x"></i>
                </div>

                <div class="div-icon">
                    <i class="fa-brands fa-twitter fa-2x"></i>
                </div>

                <div class="div-icon">
                    <i class="fa-brands fa-linkedin fa-2x"></i>
                </div>
                <div class="div-icon">
                    <i class="fa-solid fa-basketball fa-2x"></i>
                </div>
            </div>

            <div class="col-md-4 text-center">
                <h2>ABOUT FREELANCER</h2>
                <p class="lead">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</section>

<div class=" bg-dark py-2">
    <p class="text-white text-center">Copyright © Your Website 2021</p>
</div>
