<section class="portfolio">
  <div class="container">
    <div class="text-center pt-2 text-dark">
        <h2 class=" fs-1 ">portfolio</h2>
    <div class="d-flex  justify-content-center">
        <div class="left-line"></div>
        <div class='star-icon '>
            <i class="fa-solid fa-star fa-2x"></i>
        </div>
        <div class="right-line"></div>
    </div>
    </div>

    <div class="row g-3 pt-2 w-75 m-auto">
        <div class="col-md-4">
            <div class="card">
                <div class="img position-relative">
                    <img src="../../../assets/1.png" class="w-100" alt="img">


                    <div class="leyer">
                        <i class="fa-solid fa-plus fa-3x text-white"data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="img position-relative">
                    <img src="../../../assets/2.png" class="w-100" alt="img">


                    <div class="leyer">
                        <i class="fa-solid fa-plus fa-3x text-white" data-bs-toggle="modal" data-bs-target="#exampleModal2"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="img position-relative">
                    <img src="../../../assets/3.png" class="w-100" alt="img">


                    <div class="leyer">
                        <i class="fa-solid fa-plus fa-3x text-white" data-bs-toggle="modal" data-bs-target="#exampleModal3" ></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="img position-relative">
                    <img src="../../../assets/4.png" class="w-100" alt="img">


                    <div class="leyer">
           
            <i class="fa-solid fa-plus fa-3x text-white" data-bs-toggle="modal" data-bs-target="#exampleModal4"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="img position-relative">
                    <img src="../../../assets/5.png" class="w-100" alt="img">


                    <div class="leyer">
                        <i class="fa-solid fa-plus fa-3x text-white"data-bs-toggle="modal" data-bs-target="#exampleModal5"></i>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="img position-relative">
                    <img src="../../../assets/6.png" class="w-100" alt="img">


                    <div class="leyer">
                        <i class="fa-solid fa-plus fa-3x text-white" data-bs-toggle="modal" data-bs-target="#exampleModal6"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</section>


  
  



  
  <!-- Modal  1-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
           
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center pt-2 text-dark">
                <h2 class=" fs-1 ">LOG CABIN</h2>
            <div class="d-flex  justify-content-center">
                <div class="left-line"></div>
                <div class='star-icon '>
                    <i class="fa-solid fa-star fa-2x"></i>
                </div>
                <div class="right-line"></div>
            </div>
            </div>
            <img src="../../../assets/1.png" class="w-100" alt="img">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn ff mx-auto " data-bs-dismiss="modal">Close</button> 
        </div>
      </div>
    </div>
  </div>
  


  
  <!-- Modal 2 -->
  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center pt-2 text-dark">
                <h2 class=" fs-1 ">TASTY CAKE</h2>
            <div class="d-flex  justify-content-center">
                <div class="left-line"></div>
                <div class='star-icon '>
                    <i class="fa-solid fa-star fa-2x"></i>
                </div>
                <div class="right-line"></div>
            </div>
            </div>
            <img src="../../../assets/2.png" class="w-100" alt="img">

            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>

           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn ff m-auto" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- model 3 -->

  <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center pt-2 text-dark">
                <h2 class=" fs-1 ">CIRCUS TENT</h2>
            <div class="d-flex  justify-content-center">
                <div class="left-line"></div>
                <div class='star-icon '>
                    <i class="fa-solid fa-star fa-2x"></i>
                </div>
                <div class="right-line"></div>
            </div>
            </div>
            <img src="../../../assets/3.png" class="w-100" alt="img">

            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>

           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn ff m-auto" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



  <!-- model 4 -->

  <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center pt-2 text-dark">
                <h2 class=" fs-1 ">CONTROLLER</h2>
            <div class="d-flex  justify-content-center">
                <div class="left-line"></div>
                <div class='star-icon '>
                    <i class="fa-solid fa-star fa-2x"></i>
                </div>
                <div class="right-line"></div>
            </div>
            </div>
            <img src="../../../assets/4.png" class="w-100" alt="img">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn ff m-auto" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <!-- model 5 -->
  <div class="modal fade" id="exampleModal5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="text-center pt-2 text-dark">
                <h2 class=" fs-1 ">LOCKED SAFE</h2>
            <div class="d-flex  justify-content-center">
                <div class="left-line"></div>
                <div class='star-icon '>
                    <i class="fa-solid fa-star fa-2x"></i>
                </div>
                <div class="right-line"></div>
            </div>
            </div>
            <img src="../../../assets/5.png" class="w-100" alt="img">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn ff m-auto" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  


    <!-- model 6 -->
    <div class="modal fade" id="exampleModal6" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="text-center pt-2 text-dark">
                    <h2 class=" fs-1 ">SUBMARINE</h2>
                <div class="d-flex  justify-content-center">
                    <div class="left-line"></div>
                    <div class='star-icon '>
                        <i class="fa-solid fa-star fa-2x"></i>
                    </div>
                    <div class="right-line"></div>
                </div>
                </div>
                <img src="../../../assets/6.png" class="w-100" alt="img">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn ff m-auto" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div>
        <p class="bg-warning display-1 text-center p-5">home work
        </p>
        <P>{{dataFromChlid}}</P>
     </div>

     <div class="bg-danger p-5 text-center display-1">
      <app-child [child]="name"></app-child>
      <button class="btn btn-info">click</button>
     </div>
  
  

  
